@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Quicksand:wght@300&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap')
@import variables
@import mixins

*
  text-shadow: 1px 2px 0 black

form
  input, textarea
    display: block

::selection
  background: $primary-color

::placeholder
  color: #bbb
  text-align: right

.split
  display: flex
  height: calc(100vh - #{$nav-height})
  width: 100vw

  .contact_info
    width: 100%
    background-color: #505A5B
    color: white
    padding: 0 3rem
    font-size: 1.5rem

    .header_text
      padding-top: 2rem
      font-family: 'Secular One', sans-serif
      font-size: 3rem

    .subtitle_text
      font-family: 'Caveat', cursive
      font-size: 3rem
      text-align: right

    .page_body
      display: flex
      justify-content: space-between
      margin: 2rem 0

      .quote
        margin: auto
        padding-right: 1rem

        &_text
          font-size: 3rem
          font-family: "Quicksand", sans-serif

        .author
          padding-top: 2rem

          text-align: right
          font-size: 2rem
          font-family: 'Caveat', cursive

      .feedback_form
        width: fit-content
        border-left: 1px solid yellow

        &:focus
          border-color: white

        *
          margin-left: auto
          border-color: $primary-color
          @include transition-ease

        input[type='text'], textarea
          border: none
          border-right: 2px solid #aaa

          padding: 1rem
          width: 30rem
          margin: 0.5rem 0 1.5rem 0

          text-align: right
          color: white
          font-family: "Roboto", sans-serif
          font-size: 1rem

          &:focus
            border-color: white

        textarea
          height: 10rem
          resize: none
          text-align: left

        .submit_button
          padding: 0.8rem
          border: none
          border-radius: 4px
          position: relative
          bottom: 4px

          text-transform: uppercase
          color: white
          background: darkcyan

          text-shadow: none
          box-shadow: 0 4px 0 #4a4a4a
          transition: all .1s linear 0s

          &:hover
            bottom: 3px
            box-shadow: 0 3px 0 #444

          &:active
            bottom: 0
            box-shadow: 0 0 0 #444

    .social_media
      margin-top: 2rem
      width: 50%
      display: flex
      justify-content: center

      a
        color: white
        font-size: 3rem
        margin-right: 5rem
        text-shadow: 0 0 15px #444
        @include transition-ease

        &:hover
          text-shadow: 0 0 5px #444

      .fa-instagram:hover
        color: #C13584

      .fa-linkedin:hover
        color: #2d93ad

      .fa-at:hover
        color: gray

      .fa-phone-square-alt:hover
        color: gold

      .fa-github:hover
        color: #111

    .email_phone
      display: flex
      justify-content: flex-end

      a
        font-size: 1rem
        padding: 0 1rem 0 1.2rem
        border-right: 2px solid $primary-color
        color: $primary-color
        @include transition-ease

        &:hover
          border-right-color: white
          color: white

  img
    box-shadow: 0 0 10px black
    height: inherit
    object-fit: cover
